.container {
  padding: 0 2rem;
}

.feed {
  position: fixed;
  right: 10px;
  top: 10px;
}

.main {
  height: calc(100vh - 85px - 73px);
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  height: 85px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  letter-spacing: -0.05em;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.subtitle {
  color: #555;
  margin: 0;
  letter-spacing: -0.025em;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  padding: 0.75rem 1.5em;
  text-align: left;
  color: inherit;
  background: #444;
  color: #eee;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #fff;
}

.actions {
  padding: 20px 0;
}

.cta {
  background: #0070f3;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: max-content;
  padding: 0 1em;
  cursor: pointer;
}

.cta:hover,
.cta:focus,
.cta:active {
  background: #0059c0;
}

.cta:active {
  background: #003283;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.cards {
  display: flex;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 1px solid #aaa;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #aaa;
}

.nav > section {
  display: flex;
  align-items: center;
  gap: 1em;
}

.nav :first-child a {
  font-weight: 600;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
